body, h1, h2, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
}

header {
    background-color: #007BFF;
    color: white;
    padding: 5px 0;
    text-align: right;
    background-image: url('asset/a4208b8f5ca33a6dc9f300b5fba03a26-removebg-preview.png');
    background-size: 150px auto;
    background-repeat: no-repeat;
    background-position: 30px center;

}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}

.logo p {
    font-size: 14px;
}

.menu {
    list-style: none;
}

.menu li  {
    display: inline;
    margin-left: 20px;
}

.menu a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
}

.menu a:hover {
    color: #3efade;
}

.hero {
    background-image: url('asset/20230424_090324.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 180px 0;
}

.hero h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff9900;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #0056b3;
}

.about {
    background-color: #f4f4f4;
    padding: 50px 0;
}

.about h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

footer {
    background-color: #007BFF;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.dark-mode {
    background-color: #333;
    color: #fff;
  }
  
  .dark-mode header {
    background-color: #222;
  }
  
  .dark-mode .hero {
    background-color: #222;
  }
  
  #darkModeButton,
  #lightModeButton {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .dark-mode #darkModeButton,
  .dark-mode #lightModeButton {
    background-color: #333;
    border: none;
  }
  
  #popupButton {
    background-color: #ff9900;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  #popupButton:hover {
    background-color: #0056b3;
  }
  
  
.dark-mode .about {
    background-color: #333;
    color: #fff;
  }
  
  .about {
    background-color: #f4f4f4;
    padding: 50px 0;
    color: #333;
  }
  
  .about h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .about p {
    font-size: 16px; 
    margin-bottom: 10px;
  }
  

.booking {
  background-color: transparent;
  padding: 20px;
  border-radius: 10px;
}

.booking h2 {
  font-size: 24px;
  color: #fff;
  margin-bottom: 20px;
}

.booking label {
  display: block;
  margin-bottom: 10px;
}

.booking input[type="text"],
.booking input[type="tel"],
.booking input[type="date"],
.booking textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #fff;
  border-radius: 5px;
}

.booking button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.booking button[type="submit"]:hover {
  background-color: #0056b3;
}

