body, h1, h2, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
}

header {
    background-color: #007BFF;
    color: white;
    padding: 5px 0;
    text-align: right;
    background-image: url('asset/a4208b8f5ca33a6dc9f300b5fba03a26-removebg-preview.png');
    background-size: 150px auto;
    background-repeat: no-repeat;
    background-position: 30px center;

}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}

.logo p {
    font-size: 14px;
}

.menu {
    list-style: none;
}

.menu li {
    display: inline;
    margin-left: 20px;
}

.menu a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
}

.menu a:hover {
    color: #3efade;
}

.hero {
    background-image: url('asset/20230424_090324.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 180px 0;
}

.hero h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff9900;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #0056b3;
}

.about {
    background-color: #f4f4f4;
    padding: 50px 0;
}

.about h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

footer {
    background-color: #007BFF;
    color: white;
    text-align: center;
    padding: 10px 0;
}
